* {
  font-size: 10px;
  font-family: "GongGothicMedium";
}

:root {
  --Color1: #ed3124;
  --Color2: #9a1e16;
  --Color3: #eee;
  --Color4: #363636;
}

@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  width: 70rem; // 700px
  height: 90rem; // 900px
  margin: auto;
  //헤더 영역
  header {
    margin-bottom: 3rem; // 30px
    .headerLogo {
      width: 100%;
      height: 9rem; // 90px
      background-color: #eee;
    }
    .headerTitle {
      // letter-spacing: -0.5rem;
      font-weight: 300;
      color: #fff;
      font-size: 7rem; // 70px
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 10rem; // 100px
      background-color: #9a1e16;
    }
  }

  //메인 영역
  main {
    section {
      display: flex;
      .mainContent {
        box-sizing: border-box;
        padding: 3rem; // 30px
        border-radius: 1rem; // 10px
        width: 28rem; // 280px
        height: 64rem; // 640px
        box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4); // 5px 5px 30px
        // border: 1px solid #808080;
        img {
          width: 22rem; // 220px
          box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4); // 5px 5px 30px
          margin-bottom: 1.5rem; // 15px
        }
        .movieInfo {
          padding: 1rem 0; // 10px

          //영화 제목
          .infoTitle {
            position: relative;
            width: 100%;
            font-size: 2.4rem; // 24px
            // margin-bottom: 1rem; // 30px
            white-space: nowrap;
            // letter-spacing: -0.5rem; // 5px
          }
          .infoTitle::before {
            position: absolute;
            bottom: -1rem; // 10px
            content: "";
            width: 100%;
            height: 0.3rem; // 3px
            background-color: rgb(207, 204, 204);
          }
          // 상영관 정보
          .infoTheater {
            margin: 2rem 0; // 20px
            .infoTheaterLocation {
              display: flex;
              margin-bottom: 1rem; //10px
              .infoLocation {
                font-weight: 900;
                color: #9a1e16;
                margin-right: 0.5rem;
                font-size: 1rem; // 14px
              }
              .infoFloor {
                font-size: 1rem; // 14px
              }
            }
            .showTime {
              position: relative;
              display: flex;
              justify-content: space-between;
              align-items: center;
              // margin: 0.5rem 0; // 5px

              .timeBox {
                width: 6.5rem; // 65px
                padding: 0.5rem 0; // 5px
                text-align: center;
                font-size: 1.6rem; // 16px
                font-weight: 100;
                background-color: #808080;
                color: #fff;
                box-sizing: border-box;
                // white-space: nowrap;
              }
              .timeSeat {
                text-align: center;
                display: block;
                width: 4rem; // 40px
                font-size: 1.2rem; // 14px
                font-weight: 300;
                color: #82a67d;
              }
            }
            .line:before {
              position: absolute;
              bottom: -1rem; // 10px
              content: "";
              width: 100%;
              height: 0.2rem; // 2px
              background-color: #eee;
            }
          }
        }
      }
    }
  }
}
