* {
  font-size: 10px;
  font-family: "GongGothicMedium";
}

:root {
  --Color1: #ed3124;
  --Color2: #9a1e16;
  --Color3: #eee;
  --Color4: #363636;
}

@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  width: 70rem;
  height: 90rem;
  margin: auto;
}

.wrapper header {
  margin-bottom: 3rem;
}

.wrapper header .headerLogo {
  width: 100%;
  height: 9rem;
  background-color: #eee;
}

.wrapper header .headerTitle {
  font-weight: 300;
  color: #fff;
  font-size: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #9a1e16;
}

.wrapper main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper main section .mainContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
  border-radius: 1rem;
  width: 28rem;
  height: 64rem;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
          box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
}

.wrapper main section .mainContent img {
  width: 22rem;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
          box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
  margin-bottom: 1.5rem;
}

.wrapper main section .mainContent .movieInfo {
  padding: 1rem 0;
}

.wrapper main section .mainContent .movieInfo .infoTitle {
  position: relative;
  width: 100%;
  font-size: 2.4rem;
  white-space: nowrap;
}

.wrapper main section .mainContent .movieInfo .infoTitle::before {
  position: absolute;
  bottom: -1rem;
  content: "";
  width: 100%;
  height: 0.3rem;
  background-color: #cfcccc;
}

.wrapper main section .mainContent .movieInfo .infoTheater {
  margin: 2rem 0;
}

.wrapper main section .mainContent .movieInfo .infoTheater .infoTheaterLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.wrapper main section .mainContent .movieInfo .infoTheater .infoTheaterLocation .infoLocation {
  font-weight: 900;
  color: #9a1e16;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.wrapper main section .mainContent .movieInfo .infoTheater .infoTheaterLocation .infoFloor {
  font-size: 1rem;
}

.wrapper main section .mainContent .movieInfo .infoTheater .showTime {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper main section .mainContent .movieInfo .infoTheater .showTime .timeBox {
  width: 6.5rem;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 100;
  background-color: #808080;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper main section .mainContent .movieInfo .infoTheater .showTime .timeSeat {
  text-align: center;
  display: block;
  width: 4rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #82a67d;
}

.wrapper main section .mainContent .movieInfo .infoTheater .line:before {
  position: absolute;
  bottom: -1rem;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #eee;
}
/*# sourceMappingURL=style.css.map */