// 공통 CSS
@import url(./common.css);

// 기본 화면
.storeSelectPage {
  //임시
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  // height: 90rem;
  background-color: #eee;
  margin: auto;

  .cafeteriaStoreButton,
  .ticketPublishButton {
    display: block;
    width: 28rem;
    height: 42rem;
    border-radius: 1.5rem;
    border: 0;
    background-color: #fff;
    margin: 1rem;
    font-size: 3rem;
  }

  .cafeteriaStoreButton {
  }
  .ticketPublishButton {
  }
}

.wrapper {
  display: none;
  visibility: hidden;
  width: 70rem; // 700px
  height: 90rem; // 900px
  margin: auto;
  background-color: #eee;
  border: 1px solid red; // 작업 영역 표시

  //헤더 영역
  header {
    position: fixed;
    width: 70rem; // 700px
    margin: auto;
    z-index: 99;

    h1 {
      display: flex;
      align-items: center;
      height: 9rem; // 90px
      background-color: #eee;

      a.homeBtn {
        margin-right: 5px;
      }
      img {
        height: 3rem; // 30px
        // margin: 1rem; // 10px
      }
      .replyBtn {
        width: 3.8rem;
        height: 3.8rem;
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }

    .headerTitle {
      // letter-spacing: -0.5rem;
      font-weight: 300;
      color: #fff;
      font-size: 7rem; // 70px
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 10rem; // 100px
      background-color: #9a1e16;
    }
  }

  //메인 영역
  main {
    position: relative;
    top: 19rem;

    //현재 상영표
    .nowMovie {
      // display: none; // 작업 중에 사용
      width: 70rem;
      height: 71rem;
      display: flex;
      justify-content: space-between;
      z-index: 10;
      .bat {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        width: 28rem; // 280px
        height: 66rem; // 640px
        box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4); // 5px 5px 30px
        background-color: #eee;
        box-sizing: border-box;
        padding: 3rem; // 30px
        border-radius: 1rem; // 10px
        transition: 0.5s;
      }
      .reben {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        box-sizing: border-box;
        padding: 3rem; // 30px
        border-radius: 1rem; // 10px
        width: 28rem; // 280px
        height: 64rem; // 640px
        box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4); // 5px 5px 30px
        background-color: #eee;
        transition: 0.5s;
      }
      .Math {
        position: absolute;
        top: 50%;
        left: 42rem;
        transform: translate(0, -50%);
        box-sizing: border-box;
        padding: 3rem; // 30px
        border-radius: 1rem; // 10px
        width: 28rem; // 280px
        height: 64rem; // 640px
        box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4); // 5px 5px 30px
        background-color: #eee;
        transition: 0.5s;
      }
      .mainContent {
        // position: absolute;
        // top: 50%;
        // box-sizing: border-box;
        // padding: 3rem; // 30px
        // border-radius: 1rem; // 10px
        // width: 28rem; // 280px
        // height: 64rem; // 640px
        // box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4); // 5px 5px 30px
        // background-color: #eee;

        // border: 1px solid #808080; // 작업 중에 사용
        img {
          width: 22rem; // 220px
          box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4); // 5px 5px 30px
          margin-bottom: 1.5rem; // 15px
        }

        .movieInfo {
          padding: 1rem 0; // 10px

          //영화 제목
          .infoTitle {
            position: relative;
            width: 100%;
            font-size: 2.4rem; // 24px
            white-space: nowrap;
            // letter-spacing: -0.5rem; // 미사용
          }

          .infoTitle::before {
            position: absolute;
            bottom: -1rem; // 10px
            content: "";
            width: 100%;
            height: 0.3rem; // 3px
            background-color: rgb(207, 204, 204);
          }

          // 상영관 정보
          .infoTheater {
            margin: 2rem 0; // 20px

            .infoTheaterLocation {
              display: flex;
              margin-bottom: 1rem; //10px

              .infoLocation {
                font-weight: 900;
                color: #9a1e16;
                margin-right: 0.5rem;
                font-size: 1rem; // 14px
              }

              .infoFloor {
                font-size: 1rem; // 14px
              }
            }

            .showTime {
              position: relative;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .timeBox {
                width: 6.5rem; // 65px
                padding: 0.5rem 0; // 5px
                text-align: center;
                font-size: 1.6rem; // 16px
                font-weight: 100;
                background-color: #808080;
                border-radius: 0.3rem; // 3px
                color: #fff;
                box-sizing: border-box;
                // white-space: nowrap; // 미사용
              }

              .timeBox:hover {
                background-color: var(--Color2);
                cursor: pointer;
              }

              .timeSeat {
                text-align: center;
                display: block;
                width: 4rem; // 40px
                font-size: 1.2rem; // 14px
                font-weight: 300;
                color: #82a67d;
              }
            }

            .lineGW:before {
              position: absolute;
              bottom: -1rem; // 10px
              content: "";
              width: 100%;
              height: 0.2rem; // 2px
              background-color: #cfcccc;
            }
          }
        }
      }

      // .mainContent:first-child {
      //   transform: translate(-50%, -50%);
      //   z-index: 11;
      //   width: 28rem; // 280px
      //   height: 66rem; // 640px
      // }

      // .mainContent:first-child::before {
      //   position: absolute;
      //   font-size: 6rem;
      //   top: 50%;
      //   left: -60px;
      //   transform: translate(0, -50%);
      //   content: "\f053";
      //   font-family: "Font Awesome 5 Free";
      //   font-weight: 900;
      //   // background-color: red;
      // }

      // .mainContent:first-child::after {
      //   position: absolute;
      //   font-size: 6rem;
      //   top: 50%;
      //   right: -60px;
      //   transform: translate(0, -50%);
      //   content: "\f054";
      //   font-family: "Font Awesome 5 Free";
      //   font-weight: 900;
      //   // background-color: red;
      // }

      .mainContent:nth-child(2) {
        opacity: 0.4;
      }

      .mainContent:nth-child(3) {
        opacity: 0.4;
      }

      .previousBtn,
      .afterBtn {
        position: absolute;
        font-size: 3rem;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;
      }

      .previousBtn {
        left: 13rem;
      }
      .afterBtn {
        right: 13rem;
      }
    }

    //결제창 이외에 필터처리
    .backgroundFilter {
      display: none;
      // display: flex; // 작업 시에 사용
      position: absolute;
      top: 0;
      width: 100%; // 700px
      height: 64rem; // 640px
      z-index: 20;
      justify-content: center;
      align-self: center;

      // 결제창
      .paymentWindow {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        width: 51rem; // 510px
        height: 33rem; // 330px
        border-radius: 2rem; // 20px
        background-color: #fff;
        box-shadow: 0.5rem 0.5rem 3rem rgba(50, 50, 50, 0.3); // 5px 5px 30px

        .inner {
          display: flex;
          justify-content: center;
          align-self: center;
          flex-direction: column;

          // 영화를 예매하시겠습니까?
          .paymentWindowTitle {
            font-size: 4rem; // 40px
            text-align: center;
          }

          .paymentWindowMain {
            margin: 2rem 0; // 20px
            display: flex;
            justify-content: center;
            align-items: center;

            .paymentWindowMovie {
              img {
                display: block;
                width: 11rem; // 110px
                height: 15.5rem; // 155px
                background-color: #808080;
              }
            }

            // 예매 상세 내용
            .paymentWindowInfo {
              .movieTitle {
                box-sizing: border-box;
                padding: 1rem; // 10px
                font-size: 4rem; // 40px
                line-height: 5.5rem; // 55px
                width: 28rem; // 280px
                height: 7rem; // 70px
                background-color: #d8d8d8;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }

              .movieFloor,
              .movieTime {
                box-sizing: border-box;
                width: 28rem; // 280px
                height: 4.25rem; // 42.5px
                background-color: #b5b5b5;
              }

              .movieFloor {
                padding: 1rem; // 10px
                font-size: 2rem; // 20px
                color: #9a1e16;
              }

              .movieTime {
                padding: 0 1rem 1rem; // 0 10px 10px
                font-size: 3rem; // 30px
              }
            }
          }

          .paymentWindowBtn {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
              font-size: 2.4rem; // 24px
              line-height: 4rem; // 시각보정
              width: 15.5rem; // 155px
              height: 4.5rem; // 45px
              border-radius: 1.5rem; // 15px
              margin: 0 1.5rem; // 15px
              font-weight: 500;
              background-color: #fff;
              border: 0.3rem solid #595959;
            }

            button:hover {
              background-color: var(--Color4);
              color: #fff;
              cursor: pointer;
            }

            .selectionBtn {
              background-color: #ba1a0f;
              color: #fff;
              border: 0;
            }
          }
        }
      }
    }

    // 좌석선택 화면
    .seatSelection {
      // display: block; // 작업 중에 사용
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      background-color: #eee;
      z-index: 30;

      // 영화 스크린 영역
      .screenBox {
        text-align: center;
        width: 55rem; // 550px
        height: 4.5rem; // 45px
        background-color: #424242;
        margin: 3rem auto;
        font-size: 3rem; // 30px
        line-height: 5rem; // 시각보정 50px
        color: #fff;
        letter-spacing: 3rem; // 30px
        font-weight: 100;
      }
      // 영화관 내 좌석 영역
      .seatArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0; // 20px 0

        .matrixGW {
          display: flex;
        }

        .seatNumber {
          width: 3.2rem; // 32px
          height: 3.2rem; // 32px
          border-radius: 0.5rem; // 5px
          margin: 0.75rem; // 7.5px
          border: 1px solid rgba(0, 0, 0, 0.5);
        }

        .sideAreaA {
          margin-right: 3rem; // 30px
        }

        .sideAreaB {
          margin-left: 3rem; // 30px
        }
      }

      // 결제 인원 영역
      .paymentArea {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.5rem;

        .paymentPeople {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 33rem; // 330px
          height: 10rem; // 100px
          background-color: #fff;
          border-radius: 1.5rem; // 15px
          margin-right: 3rem; // 30px

          .peopleAdult {
            display: flex;
            justify-content: left;
            align-items: center;
            white-space: nowrap;

            p {
              width: 30rem; // 300px
              display: block;
              text-align: justify;
              width: 12rem; // 120px
              font-size: 3rem; // 30px
              font-weight: 100;
              letter-spacing: 4.8rem; // 48px
            }

            button {
              width: 1.8rem; // 18px
              height: 1.8rem; // 18px
              background-color: #797979;
              border: 0;
              color: #fff;
              border-radius: 0.2rem;
            }

            input {
              margin: 0 1rem; // 0 10px
              width: 9rem; // 90px
              height: 3rem; // 30px
              border-radius: 0.5rem; // 5px
              border: 0;
              background-color: #fddedb;
              text-align: center;
              font-size: 2rem; // 20px
              font-weight: 100;
              outline: none;
              border-radius: 0.5rem; //5px
            }
          }

          .peopleChildren {
            display: flex;
            justify-content: left;
            align-items: center;

            p {
              width: 12rem; // 120px
              font-size: 3rem; // 30px
              letter-spacing: 1rem; // 10px
            }

            button {
              width: 1.8rem; // 18px
              height: 1.8rem; // 18px
              background-color: #797979;
              color: #fff;
              border: 0;
              border-radius: 0.2rem; // 2px
            }

            input {
              margin: 0 1rem; // 0 10px
              width: 9rem; // 90px
              height: 3rem; // 30px
              border-radius: 0.5rem; // 5px
              border: 0;
              background-color: #fddedb;
              text-align: center;
              font-size: 2rem; // 20px
              font-weight: 100;
              outline: none;
              border-radius: 0.5rem; //5px
            }
          }
        }
      }
      //결제하기 버튼
      .paymentBtn {
        font-size: 3rem; // 30px
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18rem; // 180px
        height: 10rem; // 100px
        background-color: #ba1a0f;
        border-radius: 2rem; // 20px
        margin: 5rem auto;
      }
    }
  }
}

// 좌석 상태
.seatSelection {
  //예약 가능
  .emptySeat {
    background-color: #d6d6d6;
  }
  // 선택 좌석
  .SelectedSeat {
    background-color: #f44336;
  }
  // 예약 불가
  .BookedSeat {
    position: relative;
    background-color: #343234;
  }
  .BookedSeat::before {
    position: absolute;
    font-size: 3rem;
    line-height: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "\58";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #eee;
  }
}
