@import url(./common.css);
.wrapper {
  width: 70rem;
  height: 90rem;
  margin: auto;
  background-color: #eee;
}

.wrapper header {
  position: fixed;
  width: 70rem;
  margin: auto;
  z-index: 99;
}

.wrapper header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9rem;
  background-color: #eee;
}

.wrapper header h1 a.homeBtn {
  margin-right: 5px;
}

.wrapper header h1 a.replyBtn {
  position: absolute;
  right: 0;
}

.wrapper header h1 img {
  height: 3rem;
}

.wrapper header .headerTitle {
  font-weight: 300;
  color: #fff;
  font-size: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #9a1e16;
}

.wrapper main {
  position: relative;
  top: 19rem;
}

.wrapper main .nowMovie {
  width: 70rem;
  height: 71rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

.wrapper main .nowMovie .bat {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 11;
  width: 28rem;
  height: 66rem;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
          box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
  background-color: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
  border-radius: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper main .nowMovie .reben {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
  border-radius: 1rem;
  width: 28rem;
  height: 64rem;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
          box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
  background-color: #eee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper main .nowMovie .Math {
  position: absolute;
  top: 50%;
  left: 42rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
  border-radius: 1rem;
  width: 28rem;
  height: 64rem;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
          box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
  background-color: #eee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper main .nowMovie .mainContent img {
  width: 22rem;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
          box-shadow: 0.5rem 0.5rem 3rem rgba(51, 51, 51, 0.4);
  margin-bottom: 1.5rem;
}

.wrapper main .nowMovie .mainContent .movieInfo {
  padding: 1rem 0;
}

.wrapper main .nowMovie .mainContent .movieInfo .infoTitle {
  position: relative;
  width: 100%;
  font-size: 2.4rem;
  white-space: nowrap;
}

.wrapper main .nowMovie .mainContent .movieInfo .infoTitle::before {
  position: absolute;
  bottom: -1rem;
  content: "";
  width: 100%;
  height: 0.3rem;
  background-color: #cfcccc;
}

.wrapper main .nowMovie .mainContent .movieInfo .infoTheater {
  margin: 2rem 0;
}

.wrapper main .nowMovie .mainContent .movieInfo .infoTheater .infoTheaterLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.wrapper main .nowMovie .mainContent .movieInfo .infoTheater .infoTheaterLocation .infoLocation {
  font-weight: 900;
  color: #9a1e16;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.wrapper main .nowMovie .mainContent .movieInfo .infoTheater .infoTheaterLocation .infoFloor {
  font-size: 1rem;
}

.wrapper main .nowMovie .mainContent .movieInfo .infoTheater .showTime {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper main .nowMovie .mainContent .movieInfo .infoTheater .showTime .timeBox {
  width: 6.5rem;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 100;
  background-color: #808080;
  border-radius: 0.3rem;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper main .nowMovie .mainContent .movieInfo .infoTheater .showTime .timeBox:hover {
  background-color: var(--Color2);
  cursor: pointer;
}

.wrapper main .nowMovie .mainContent .movieInfo .infoTheater .showTime .timeSeat {
  text-align: center;
  display: block;
  width: 4rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #82a67d;
}

.wrapper main .nowMovie .mainContent .movieInfo .infoTheater .lineGW:before {
  position: absolute;
  bottom: -1rem;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #cfcccc;
}

.wrapper main .nowMovie .mainContent:nth-child(2) {
  opacity: 0.4;
}

.wrapper main .nowMovie .mainContent:nth-child(3) {
  opacity: 0.4;
}

.wrapper main .nowMovie .previousBtn,
.wrapper main .nowMovie .afterBtn {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

.wrapper main .nowMovie .previousBtn {
  left: 13rem;
}

.wrapper main .nowMovie .afterBtn {
  right: 13rem;
}

.wrapper main .backgroundFilter {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 71rem;
  z-index: 20;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrapper main .backgroundFilter .paymentWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 51rem;
  height: 33rem;
  border-radius: 2rem;
  background-color: #fff;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(50, 50, 50, 0.3);
          box-shadow: 0.5rem 0.5rem 3rem rgba(50, 50, 50, 0.3);
}

.wrapper main .backgroundFilter .paymentWindow .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowTitle {
  font-size: 4rem;
  text-align: center;
}

.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowMain {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowMain .paymentWindowMovie img {
  display: block;
  width: 11rem;
  height: 15.5rem;
  background-color: #808080;
}

.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowMain .paymentWindowInfo .movieTitle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  font-size: 4rem;
  line-height: 5.5rem;
  width: 28rem;
  height: 7rem;
  background-color: #d8d8d8;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowMain .paymentWindowInfo .movieFloor,
.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowMain .paymentWindowInfo .movieTime {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 28rem;
  height: 4.25rem;
  background-color: #b5b5b5;
}

.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowMain .paymentWindowInfo .movieFloor {
  padding: 1rem;
  font-size: 2rem;
  color: #9a1e16;
}

.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowMain .paymentWindowInfo .movieTime {
  padding: 0 1rem 1rem;
  font-size: 3rem;
}

.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowBtn button {
  font-size: 2.4rem;
  line-height: 4rem;
  width: 15.5rem;
  height: 4.5rem;
  border-radius: 1.5rem;
  margin: 0 1.5rem;
  font-weight: 500;
  background-color: #fff;
  border: 0.3rem solid #595959;
}

.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowBtn button:hover {
  background-color: var(--Color4);
  color: #fff;
  cursor: pointer;
}

.wrapper main .backgroundFilter .paymentWindow .inner .paymentWindowBtn .selectionBtn {
  background-color: #ba1a0f;
  color: #fff;
  border: 0;
}

.wrapper main .seatSelection {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #eee;
  z-index: 30;
}

.wrapper main .seatSelection .screenBox {
  text-align: center;
  width: 55rem;
  height: 4.5rem;
  background-color: #424242;
  margin: 3rem auto;
  font-size: 3rem;
  line-height: 5rem;
  color: #fff;
  letter-spacing: 3rem;
  font-weight: 100;
}

.wrapper main .seatSelection .seatArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.wrapper main .seatSelection .seatArea .matrixGW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper main .seatSelection .seatArea .seatNumber {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.5rem;
  margin: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.wrapper main .seatSelection .seatArea .sideAreaA {
  margin-right: 3rem;
}

.wrapper main .seatSelection .seatArea .sideAreaB {
  margin-left: 3rem;
}

.wrapper main .seatSelection .paymentArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}

.wrapper main .seatSelection .paymentArea .paymentPeople {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-right: 3rem;
}

.wrapper main .seatSelection .paymentArea .paymentPeople .peopleAdult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.wrapper main .seatSelection .paymentArea .paymentPeople .peopleAdult p {
  width: 30rem;
  display: block;
  text-align: justify;
  width: 12rem;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 4.8rem;
}

.wrapper main .seatSelection .paymentArea .paymentPeople .peopleAdult button {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #797979;
  border: 0;
  color: #fff;
  border-radius: 0.2rem;
}

.wrapper main .seatSelection .paymentArea .paymentPeople .peopleAdult input {
  margin: 0 1rem;
  width: 9rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #fddedb;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  outline: none;
  border-radius: 0.5rem;
}

.wrapper main .seatSelection .paymentArea .paymentPeople .peopleChildren {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper main .seatSelection .paymentArea .paymentPeople .peopleChildren p {
  width: 12rem;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.wrapper main .seatSelection .paymentArea .paymentPeople .peopleChildren button {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #797979;
  color: #fff;
  border: 0;
  border-radius: 0.2rem;
}

.wrapper main .seatSelection .paymentArea .paymentPeople .peopleChildren input {
  margin: 0 1rem;
  width: 9rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #fddedb;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  outline: none;
  border-radius: 0.5rem;
}

.wrapper main .seatSelection .paymentBtn {
  font-size: 3rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18rem;
  height: 10rem;
  background-color: #ba1a0f;
  border-radius: 2rem;
  margin: 5rem auto;
}

.seatSelection .emtySeat {
  background-color: #d6d6d6;
}

.seatSelection .SelectedSeat {
  background-color: #f44336;
}

.seatSelection .BookedSeat {
  position: relative;
  background-color: #343234;
}

.seatSelection .BookedSeat::before {
  position: absolute;
  font-size: 3rem;
  line-height: 3rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "\58";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #eee;
}
/*# sourceMappingURL=style.css.map */